* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f8fc;
}

.content {
  height: auto;
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 2rem;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.footer_container p {
  color: #7a828a;
}

.social_media img {
  width: 2rem;
}

.social_media a {
  text-decoration: none;
}